/***************************
SPACING
***************************/

* {
  box-sizing: border-box;
}

#wrapper {
  max-width: 1400px;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 0%;
  padding-left: 9%;
}

.sidea {
  width: 20%;
  float: left;
  padding: 0;
}

.sideb {
  width: 80%;
  float: left;
}

@media screen and (max-width: 1000px) {

  #wrapper {
    padding: 2%;
  }

  .sidea {
    width: 100%;
  }

  .sideb {
    width: 100%;
  }
}

/***************************
BACKGROUND & Fonts
***************************/

body {
  background: #F9FFDE;
  color: #000869;
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: 'Libre Caslon Text', serif; 
}

#textlogo {
  font-size: 1.2em;
  line-height: 2em;
  color: #000869;
  padding-right: 10%;
  padding-left: 25%;
  font-family: 'Lato', sans-serif; 
  font-weight: 900;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding-left: -2%;
  font-size: 0.95em;
}

a {
  transition: 0.2s;
}

.sideb {
  padding-left: 3%;
  padding-top: 3%;
}

#skills {
  border: 2px solid #000869;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 5%;
  margin-right: 15%;
  font-size: 0.95em;
  line-height: 1.4em;
  font-family: 'Lato', sans-serif; 
  text-align: justify;
}

#contact {
  font-size: 0.9em;
}

#title {
  font-weight: 900;
  font-family: 'Lato', sans-serif; 
}

/***************************
LINKS
***************************/

a {
  color: #000869;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  background-color: #000869;
  color: #fff;
  padding: 6px 6px;
}

a:selected {
  color: #fff;
  background-color: #000869;
  padding: 6px 6px;
}

/***************************
ACCORDION
***************************/

.accordion {
  padding-left: -2%;
  font-size: 1em;
  background-color: #F9FFDE;
  color: #000869;
  font-family: 'Libre Caslon Text', serif; 
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
}

.accordion:hover {
  color: #fff;
  background-color: #000869;
  padding: 6px 6px;
}

.accordion:before{
  content:"+  "
}

.active:before{
  content:"–  "
}

.active {
  font-weight: 700;
}

.panel {
  padding: 0 18px;
  background-color: #F9FFDE;
  display: none;
  overflow: hidden;
}

#description {
  max-width: 80%;
  margin-left: 5%;
}
