/***************************
SPACING
***************************/

* {
  box-sizing: border-box;
}

#wrapper {
  max-width: 1400px;
  padding-top: 2%;
  padding-right: 8%;
  padding-bottom: 0%;
  padding-left: 9%;
}

.sidea {
  width: 20%;
  float: left;
  padding: 0;
}

.sideb {
  width: 80%;
  float: left;
}

@media screen and (max-width: 1000px) {

  #wrapper {
    padding: 2%;
  }

  .sidea {
    width: 100%;
  }

  .sideb {
    width: 100%;
  }
}

/***************************
BACKGROUND & Fonts
***************************/

body {
  background: #fff;
  color: #171616;
  font-size: 1.3em;
  line-height: 1.5em;
  font-family: 'Libre Caslon Text', serif; 
}

body::selection{
  background-color: #EBFB9B;
}

#textlogo {
  font-size: 1.2em;
  line-height: 2em;
  color: #171616;
  padding-right: 10%;
  padding-left: 25%;
  font-family: 'Lato', sans-serif; 
  font-weight: 900;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding-left: -2%;
  font-size: 0.95em;
}

a {
  transition: 0.2s;
}

mark {
  background-color: #EBFB9B;
}

p::selection{
  background-color: #EBFB9B;
}

u::selection{
  background-color: #EBFB9B;
}

h1::selection{
  background-color: #EBFB9B;
}

br::selection{
  background-color: #EBFB9B;
}

div::selection{
  background-color: #EBFB9B;
}

button::selection{
  background-color: #EBFB9B;
}

span::selection{
  background-color: #EBFB9B;
}

center::selection{
  background-color: #EBFB9B;
}

img::selection{
  background-color: #EBFB9B;
}

i::selection{
  background-color: #EBFB9B;
}

blockquote {
  font-size: 1em;
  padding-left: 1em;
  border-left: 2px solid #000;
}


.sideb {
  padding-left: 3%;
  padding-top: 3%;
}

#skills {
  border: 2px solid #4C3117;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: 5%;
  margin-right: 15%;
  font-size: 0.95em;
  line-height: 1.4em;
  font-family: 'Lato', sans-serif; 
  text-align: justify;
}

#contact {
  font-size: 0.9em;
}

#title {
  font-weight: 900;
  font-family: 'Lato', sans-serif; 
}

/***************************
LINKS
***************************/

a {
  color: #171616;
  text-decoration: none;
  font-style:italic;

}

/* mouse over link */
a:hover {
  background-color: #EBFB9B;
  color: #171616;
  padding: 6px 6px;
  font-style:normal;
}

a:selected {
  color: #fff;
  background-color: #4C3117;
  padding: 6px 6px;
}

a::selection{
  background-color: #EBFB9B;
}

/***************************
ACCORDION
***************************/

.accordion {
  padding-left: -2%;
  font-size: 1.1em;
  background-color: #fff;
  color: #171616;
  font-family: 'Libre Caslon Text', serif; 
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
}

.accordion:hover {
  color: #171616;
  background-color: #EBFB9B;
  padding: 6px 6px;
}

.accordion:before{
  content:"+  "
}

.active:before{
  content:"–  "
}

.active {
  font-weight: 700;
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  display: none;
  overflow: hidden;
}

#description {
  max-width: 80%;
  margin-left: 5%;
}

/***************************
COOL BOX TRICK
***************************/
.cool{
  position: relative;
  overflow: hidden;
  cursor:pointer;
}

.cool span {
  position: relative;
}

.cool:before {
  opacity: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 800px;
  height: 800px;
  background: radial-gradient(circle closest-side, #EBFB9B, transparent);
  transform: translate(-50%, -50%);
  transition: opacity 2s ease;
  -webkit-transition: opacity 2s;
}

.cool:hover:before {
  opacity: 1;
}
